html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}


h2{
    text-align: center;
}

#ping_pong_table{
    border:solid 2px black;
    width: 700px;
    height: 500px;
    margin: auto;
    position: relative;
}

#handle1{
    height: 70px;
    width: 20px;
    background-color: blueviolet;
    position: absolute;
    border-radius: 7%;
}
#handle2{
    height: 70px;
    width: 20px;
    background-color: rgb(30, 58, 244);
    position: absolute;
    border-radius: 7%;
    right: 0;
}
#ball{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: red;
    position: absolute;
}